/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Escanor]    Script Date: 4/2/2021 3:39:36 PM ******/
CREATE DATABASE [Escanor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Escanor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Escanor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Escanor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Escanor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Escanor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Escanor]
GO
USE [Escanor]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[PreTitle] [nvarchar](50) NULL,
	[Text] [nvarchar](100) NULL,
	[Signature] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderBy] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facts]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Point] [int] NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Facts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Features] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Holder] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Icons]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Icons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icons] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Icons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[Orderby] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PacketPrice] [decimal](18, 2) NOT NULL,
	[PriceId] [int] NOT NULL,
	[DiskSpace] [int] NOT NULL,
	[DomainCount] [int] NOT NULL,
	[EmailCount] [int] NOT NULL,
	[Support] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[Photo] [nvarchar](max) NULL,
	[Tag] [nvarchar](max) NULL,
	[Text] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Prices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceComponents]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceComponents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ServiceId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ServiceComponents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[SubTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](200) NULL,
	[Title] [nvarchar](max) NULL,
	[SubTitle] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[SubFooterText] [nvarchar](max) NULL,
	[IntroPhoto] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Point] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMedias]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMedias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SettingId] [int] NOT NULL,
	[IconId] [int] NOT NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SocialMedias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/2/2021 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([Id], [Title], [PreTitle], [Text], [Signature]) VALUES (1, N'Welcome to <span>Escanor</span>', N'Let’s Start your Business', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry.', N'signature.png')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [OrderBy], [Name]) VALUES (1, 1, N'All')
INSERT [dbo].[Categories] ([Id], [OrderBy], [Name]) VALUES (2, 2, N'Branding')
INSERT [dbo].[Categories] ([Id], [OrderBy], [Name]) VALUES (3, 3, N'User Experience')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([Id], [Icon], [Description], [Name]) VALUES (1, N'genius', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', N'Modern Coding')
INSERT [dbo].[Features] ([Id], [Icon], [Description], [Name]) VALUES (2, N'tools', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', N'User Experience')
INSERT [dbo].[Features] ([Id], [Icon], [Description], [Name]) VALUES (3, N'beaker', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', N'Web Optimization')
SET IDENTITY_INSERT [dbo].[Features] OFF
SET IDENTITY_INSERT [dbo].[Icons] ON 

INSERT [dbo].[Icons] ([Id], [Icons], [Name]) VALUES (1, N'facebook', N'Facebook')
INSERT [dbo].[Icons] ([Id], [Icons], [Name]) VALUES (2, N'twitter', N'Twitter')
INSERT [dbo].[Icons] ([Id], [Icons], [Name]) VALUES (3, N'behance', N'Behance')
SET IDENTITY_INSERT [dbo].[Icons] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [IsVisible], [Orderby], [Name]) VALUES (1, 1, 1, N'Home')
INSERT [dbo].[Menus] ([Id], [IsVisible], [Orderby], [Name]) VALUES (2, 1, 2, N'About')
INSERT [dbo].[Menus] ([Id], [IsVisible], [Orderby], [Name]) VALUES (3, 1, 3, N'Services')
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Packages] ON 

INSERT [dbo].[Packages] ([Id], [Name], [PacketPrice], [PriceId], [DiskSpace], [DomainCount], [EmailCount], [Support]) VALUES (2, N'BASIC', CAST(10.00 AS Decimal(18, 2)), 1, 10, 1, 1, N'-')
INSERT [dbo].[Packages] ([Id], [Name], [PacketPrice], [PriceId], [DiskSpace], [DomainCount], [EmailCount], [Support]) VALUES (3, N'STANDARD', CAST(40.00 AS Decimal(18, 2)), 1, 100, 10, 10, N'Unlimited Support')
INSERT [dbo].[Packages] ([Id], [Name], [PacketPrice], [PriceId], [DiskSpace], [DomainCount], [EmailCount], [Support]) VALUES (4, N'PREMIUM', CAST(100.00 AS Decimal(18, 2)), 1, 500, 50, 50, N'Unlimited Support')
SET IDENTITY_INSERT [dbo].[Packages] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Title], [Date], [Photo], [Tag], [Text]) VALUES (1, N'Bootstrap is the Most Popular Framework', CAST(N'2017-07-07T00:00:00.000' AS DateTime), N'blog-img-1.jpg', N'Mobile', N' Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni ...')
INSERT [dbo].[Posts] ([Id], [Title], [Date], [Photo], [Tag], [Text]) VALUES (2, N'Best Original Web Layouts', CAST(N'2017-05-06T00:00:00.000' AS DateTime), N'blog-img-2.jpg', N'Wordpress', N'Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni ...')
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Prices] ON 

INSERT [dbo].[Prices] ([Id], [Title], [Description]) VALUES (1, N'OUR PRICING', N'Lorem Ipsum is simply dummy text of the printing and typesetting.')
SET IDENTITY_INSERT [dbo].[Prices] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Photo], [Description], [CategoryId], [Name]) VALUES (1, N'1.jpg', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', 2, N'PROJECT TITLE')
INSERT [dbo].[Projects] ([Id], [Photo], [Description], [CategoryId], [Name]) VALUES (2, N'2.jpg', N'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.', 5, N'PROJECT TITLE')
INSERT [dbo].[Projects] ([Id], [Photo], [Description], [CategoryId], [Name]) VALUES (3, N'3.jpg', N'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.', 5, N'PROJECT TITLE')
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ServiceComponents] ON 

INSERT [dbo].[ServiceComponents] ([Id], [Icon], [Description], [ServiceId], [Title]) VALUES (1, N'linegraph', N'Lorem ipsum dolor sit amet, conse ctetur adipis icing elit,dolor sit amet sed do ut labore et dolore magna aliqua.', 1, N'Unique Design')
INSERT [dbo].[ServiceComponents] ([Id], [Icon], [Description], [ServiceId], [Title]) VALUES (2, N'mobile', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', 1, N'responsive Design')
INSERT [dbo].[ServiceComponents] ([Id], [Icon], [Description], [ServiceId], [Title]) VALUES (3, N'pencil', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', 1, N'Graphic Design')
SET IDENTITY_INSERT [dbo].[ServiceComponents] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Title], [SubTitle]) VALUES (1, N'OUR SERVICES', N'Lorem Ipsum is simply dummy text of the printing and typesetting.')
SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [Logo], [Title], [SubTitle], [Email], [PhoneNumber], [Address], [SubFooterText], [IntroPhoto]) VALUES (1, N'Escanor', N'Welcome To Escanor', N'We Are Escanor Company Creative Websites , Branding , Marketing', N'nigar@gmail.com', N'+1 (123) 456-7899', N' Upper Level, Overseas Passenger Terminal, The Rocks, Sydney 2000', N'Nigar', N'background.jpg')
SET IDENTITY_INSERT [dbo].[Settings] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([Id], [Point], [Name]) VALUES (1, 90, N'HTML5 & CSS3')
INSERT [dbo].[Skills] ([Id], [Point], [Name]) VALUES (2, 80, N'WordPress')
INSERT [dbo].[Skills] ([Id], [Point], [Name]) VALUES (3, 75, N'UI/UX')
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[SocialMedias] ON 

INSERT [dbo].[SocialMedias] ([Id], [Name], [SettingId], [IconId], [Link]) VALUES (1, N'Facebook', 1, 1, N'https://www.facebook.com/')
INSERT [dbo].[SocialMedias] ([Id], [Name], [SettingId], [IconId], [Link]) VALUES (2, N'Twitter', 1, 2, N'twitter.com')
INSERT [dbo].[SocialMedias] ([Id], [Name], [SettingId], [IconId], [Link]) VALUES (3, N'Instagram', 1, 4, N'instagram.com')
SET IDENTITY_INSERT [dbo].[SocialMedias] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password]) VALUES (1, N'nigar@gmail.com', N'AEAY41qJXwumG3WMtrg9oXRhvtu4KLmH5L+8mrpDPtofQ2gqJ6potlC0ALDxmK/phQ==')
INSERT [dbo].[Users] ([Id], [Email], [Password]) VALUES (2, N'admin@gmail.com', N'AFnKq97C9aL41mOB0ckt7dDYYiegg5OJWQ3bBz/snzJIfK1KlXsvgI89hkM2OLdIhA==')
INSERT [dbo].[Users] ([Id], [Email], [Password]) VALUES (3, N'nigar@gmail.comm', N'AJmXjSvcRw50pa8i5v0KLFhyhHmZ/H8fo2GULgvToV8nxeihYlkkfinpJ5NnAHvn5g==')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_PriceId]    Script Date: 4/2/2021 3:39:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PriceId] ON [dbo].[Packages]
(
	[PriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 4/2/2021 3:39:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Projects]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 4/2/2021 3:39:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[ServiceComponents]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IconId]    Script Date: 4/2/2021 3:39:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_IconId] ON [dbo].[SocialMedias]
(
	[IconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SettingId]    Script Date: 4/2/2021 3:39:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_SettingId] ON [dbo].[SocialMedias]
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [PacketPrice]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [PriceId]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [DiskSpace]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [DomainCount]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [EmailCount]
GO
ALTER TABLE [dbo].[SocialMedias] ADD  DEFAULT ((0)) FOR [SettingId]
GO
ALTER TABLE [dbo].[SocialMedias] ADD  DEFAULT ((0)) FOR [IconId]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Packages_dbo.Prices_PriceId] FOREIGN KEY([PriceId])
REFERENCES [dbo].[Prices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_dbo.Packages_dbo.Prices_PriceId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[ServiceComponents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceComponents_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceComponents] CHECK CONSTRAINT [FK_dbo.ServiceComponents_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[SocialMedias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SocialMedias_dbo.Icons_IconId] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SocialMedias] CHECK CONSTRAINT [FK_dbo.SocialMedias_dbo.Icons_IconId]
GO
ALTER TABLE [dbo].[SocialMedias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SocialMedias_dbo.Settings_SettingId] FOREIGN KEY([SettingId])
REFERENCES [dbo].[Settings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SocialMedias] CHECK CONSTRAINT [FK_dbo.SocialMedias_dbo.Settings_SettingId]
GO
USE [master]
GO
