
@RenderBody();
    <!-- =========    CONTACT END    ======== -->
    <!-- =========    GOOGLE MAP START    ======== -->
    <div id="map"></div>
    <!-- =========    GOOGLE MAP END    ======== -->
    <!-- =========    FOOTER START    ======== -->
    <footer class="sections">
        <div class="container">
            <div class="row">


                <!-- SOCIAL ICONS -->
                <div class="sc-icon">
                    <a href="#0">
                        <span>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="#0">
                        <span>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="#0">
                        <span>
                            <i class="fa fa-behance" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="#0">
                        <span>
                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="#0">
                        <span>
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="#0">
                        <span>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>


                <!-- START RIGHTS -->
                <div class="sub-footer">
                    <span>Copy Right © By Joker-Themes 2018 | All Rights Reserved.</span>
                </div>


            </div>
        </div>
    </footer>
    <!-- =========    FOOTER END    ======== -->
    <!-- ====== JS ======  -->
    <!-- JQUERY -->
    <script src="~/Templates/escanordemo/demos/default-version/js/jquery.v1.12.4.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/bootstrap.min.js"></script>
    <!-- COUNT TO JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/jquery.countTo.js"></script>
    <!-- OWL CAROUSEL JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/owl.carousel.min.js"></script>
    <!-- ISOTOPE JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/isotope.pkgd.min.js"></script>
    <!-- MASONRY JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/masonry.pkgd.min.js"></script>
    <!-- Magnific Popup core JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/jquery.magnific-popup.min.js"></script>
    <!-- PARSLEY file -->
    <script src="~/Templates/escanordemo/demos/default-version/js/parsley.js"></script>
    <!-- SCROLLIT file -->
    <script src="~/Templates/escanordemo/demos/default-version/js/scrollIt.min.js"></script>
    <!-- MAPS JS -->
    <script src="~/Templates/escanordemo/demos/default-version/js/gmaps.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAduGkGiILZzHThk6zpT8DB7SBmP575dWs"></script>
    <script src="~/Templates/escanordemo/demos/default-version/js/mapnew.js"></script>
    <script src="~/Templates/escanordemo/demos/default-version/js/map.js"></script>
    <!-- custom js -->
    <script src="~/Templates/escanordemo/demos/default-version/js/main.js"></script>

</body>

<!-- Mirrored from joker-themes.com/escanordemo/demos/default-version/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Mar 2021 08:11:21 GMT -->
</html>